.book, .exhibition {
  padding: 0 $space;
  &__heading {
    @include novecento(22px);
    margin-top: $space;
  }

  &__author {
    display: block;
    @include proxima(16px, $text);
    margin-top: $half-space / 2;
  }

  &__download {
    position: absolute;
    top: 0;
    right: 0;
    @include proxima(16px, $black);
  }
  &__date {
    @include proxima(16px, $text);
    margin: $half-space;
  }

  &__header {
    position: relative;
  }

  &__content {
    margin-top: $half-space;
    @include proxima(16px, $text, $lh: 1.2);
    max-width: 740px;
  }
  &__embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin: 16px;
  }

  &__embed-container iframe,
  &__embed-container object,
  &__embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.back-btn {
  margin-bottom: $space;
}

.gallery {
  margin-top: $space;
  display: grid;
  column-gap: $half-space;
  row-gap: $half-space;
  @include mq('desktop') {
    grid-template-columns: repeat(3, 1fr);
  }

  &__img {
    width: 100%;
    height: auto;
  }
}