.cta {
  display: flex;
  @include novecento(24px, $yellow);
  text-decoration: none;
  width: 100%;
  min-height: 10em;
  text-align: center;
  justify-content: center;
  align-items: center;
  @include media-query(0, 600px){
    background: url($assets-url + "/img/cta-min.jpg") no-repeat 50% 50%;
  }
  @include media-query(600px, 1280px){
    background: url($assets-url + "/img/cta-mid.jpg") no-repeat 50% 50%;
  }
  @include mq('desktop-wide') {
    background: url($assets-url + "/img/cta.jpg") no-repeat 50% 50%;
  }
  background-size: cover;
  position: relative;
  margin-bottom: $half-space;
  @include mq('desktop') {
    grid-column: 1 / span 2;
  }

  &:before {
    @include pseudo();
    width: 100%;
    height: 100%;
    opacity: 0;
    background: $black;
    transition: opacity .2s;
  }

  &:hover:before, &:focus:before {
    opacity: .4;
  }
}